@model ENBHospitalmanagementMvc.Models.CreateAndEditPatient_Drug_Treatment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<div class="alert alert-info" role="alert">
    <h2><strong>Edit  Treatment <i class="fa fa-medkit"></i></strong></h2>
</div>

@using (Html.BeginForm("Edit", "Patient_Drug_Treatment", FormMethod.Post, new { onsubmit = "return SubmitForm(this);" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model=>model.Id)
        @Html.Hidden("PatientId", (int)ViewBag.Patient_Id)
        @Html.Hidden("DiagnoseId", (int)ViewBag.Diag_Id)


        <div class="form-group">
            @Html.Label("Drug", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.DrugId, new SelectList(Model.ListDrug, dataValueField: "Value", dataTextField: "Text"),
                htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DrugId, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dosage_administred, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dosage_administred, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dosage_administred, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


